.explanationCard__develop {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;
}

.explanationCard--bucketX,
.explanationCard--bucketY,
.explanationCard--explanation {
  width: 50px;
  text-align: center;
}

.explanationCard__solved {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: green;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
